<ion-card *ngFor="let data of data">
  <!-- <img src="../../../assets/uploads/menu-img-02.jpg" alt="Image du plat"> -->
  <ion-card-header>
    <ion-card-title>{{ data.name }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p>{{data.image1}}</p>
    <div id="descriptif-room">
      <p>{{ data.descriptif }}</p>
      <p>{{ data.city }} {{ data.country }}</p>
      <p class="card-text" *ngIf="page === 'room'"><span class="detail-color">Nombre de lits:</span> {{ data.nbBed }}</p>
      <p class="card-text" *ngIf="page === 'room'"><span class="detail-color">Surface de la chambre:</span> {{ data.squarFeet }} m2</p>
      <p class="card-text"  ><span class="detail-color">Prix:</span> {{ data.price }} €</p>
      <p class="card-text" *ngIf="page === 'restaurant'">Nos fourchettes de prix varient entre {{ data.rangePrice1 }} € à {{ data.rangePrice2 }} €</p>
      <p class="card-text" *ngIf="page === 'restaurant'"><span class="detail-color">Nom du plat:</span> {{ data.namePlat }} m2</p>
      <p class="card-text" *ngIf="page === 'restaurant'"><span class="detail-color">Description du plat:</span> {{ data.descriptifPlat }}</p>
      <ion-button >Réserver</ion-button>
    </div>
  </ion-card-content>
</ion-card>
