<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      GYFE
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <!-- <img src="../../../assets/uploads/menu-img-02.jpg" alt="Image du plat"> -->
    <ion-card-header>
      <p class="avatar">
        <ion-icon name="person-circle-outline"></ion-icon>
      </p>
      <ion-card-title><span class="text-success font-weight-bold">Nom:</span> {{currentuser.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <div class="card-body">
      <ion-card-title><span class="text-success font-weight-bold">Username:</span> {{username}}</ion-card-title><br>
      <ion-card-title><span class="text-success font-weight-bold">Email:</span> {{currentuser.email}}</ion-card-title>
    </div>
    </ion-card-content>
  </ion-card>
 <!--  <app-favorite></app-favorite> -->
</ion-content>
