<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        GYFE
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Favoris
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-grid>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>TITRE</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let favorite of favorites">
                    <td><img [src]="favorite.itemImage" class="img-thumbnail" alt="Image article" width="90"></td>
                    <td>{{ favorite.itemName }}</td>
                    <td>[routerLink]="favorite.itemUrl">Voir plus</td>
                    <td><i class="bi bi-trash text-danger" (click)="removeFav(favorite)"></i></td>
                </tr>
            </tbody>
        </table>
    </ion-grid>
  </ion-content>
