<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let room of rooms">
    <!-- <img src="../../../assets/uploads/menu-img-02.jpg" alt="Image du plat"> -->
    <ion-card-header>
      <ion-card-title>{{ room.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div id="descriptif-room">
        <p>{{ room.description }}</p>
        <p>{{ room.city }} {{ room.country }}</p>
          <ion-icon name="heart"></ion-icon>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
