<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Restaurant
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let restaurant of listrestaurant">
    <!-- <img src="../../../assets/uploads/menu-img-02.jpg" alt="Image du plat"> -->
    <ion-card-header>
      <ion-card-title>{{ restaurant.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div id="descriptif-room">
        <p>{{ restaurant.descriptif }}</p>
        <p>{{ restaurant.city }} {{ restaurant.country }}</p>
        <ion-button>
          <ion-icon name="heart"></ion-icon>
        </ion-button>
        <ion-button  [routerLink]="['../tabs/detail', restaurant.id]">Voir plus</ion-button>
      </div>
    </ion-card-content>
    </ion-card>
</ion-content>
